{% extends "layout.html" %}
{% block body %}
<div class="container con-principal">
	<h1 class="center-align">Actividad 2</h1>
    <center>
	<br/>
    Bloques Puestos Por Numbot
    <div id="nb-c-COM">
       
    </div>
    <div id='btn-a2-rv-01'>
        <input id="input" type="hidden" />
        <button id="rec" class='hvr-radial-out'>
            <center>
                <i id="irec" class='fa fa-microphone fa-5x' aria-hidden="true"></i>
                 ¡Responde!
            </center>          
        </button>
    </div>

    </center>
</div>
{% endblock %}