{% extends "layout.html" %}
{% block body %}
<div class="container con-principal">
	<h1 class="center-align">Actividad 1</h1>
    <center>
    <audio autoplay>
    	<source src="static/aud/d03.wav" type="audio/mpeg">
    </audio>
    <!--- Time to wait for item appear... -->
	<p id='p01' class=''>{{timetoway}}</p>    
	<br/>
	<div id='but01' style='display:none;' >
    	<a href="/rvoz1" class="button button-circle button-action animated infinite tada">
    		<center><i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i></center>
    	</a> 
    </div>
    </center>
</div>	
	<audio controls="controls" 
		onloadeddata="var audioPlayer=this;setTimeout(function(){audioPlayer.play();},3500)">
		<source src="static/aud/d04.wav" type="audio/mp3" />
	</audio>
{% endblock %}