{% extends "layout.html" %}
{% block body %}
      <div class="container con-principal ">
            <div class="">
                  <h1 class="center-align">Bienvenidos a Numbot</h1>                               
                 <div id="welcome">
                  <center>
                        <span class="button-wrap animated infinite bounce"><a href="/act01m1" class="button button-circle button-primary">AQUI</a></span>
                  </center>
                  </div>
            </div>
      </div>
{% endblock %}