{% extends "layout.html" %}
{% block body %}
      <div class="container con-principal ">
            <div class=''>
                  <h1 class="center-align">¡Hola! ¡Soy Numbot!</h1>                               
                 <div id='div-welcome' class='dhidden'>
                  <center>
                        <span class="button-wrap animated infinite bounce">
                              <a href="/stg-a1-01" class="button button-circle button-primary">
                              <i class="fa fa-hand-paper-o fa-3x" aria-hidden="true"></i>
                              </a>
                        </span>
                  </center>
                  </div>
            </div>
      </div>
{% endblock %}