{% extends "layout.html" %}
{% block body %}
<div class="container con-principal">
	<h1 class="center-align">¡Hemos terminado!</h1>
    <center>
    <div id="div-stg-02-06">    
        <div id='div-a2-rc-2' class='dhidden'>
        	<p id='rc' class=''>{{rc}}</p>
        	<p id='gc' class=''>{{gc}}</p>
        	<p id='bc' class=''>{{bc}}</p>
        	<p id='rp' class=''>{{rp}}</p>
        	<p id='gp' class=''>{{gp}}</p>
        	<p id='bp' class=''>{{bp}}</p>
        	Nuevo Intento
            <a href="/" class="button button-circle button-action animated infinite tada">
                <i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i>
            </a> 
        </div>
    </div>
</div>
</center>
{% endblock %}